{% extends "layout/base.twig" %}

{% block title %}Szczegóły Audytu{% endblock %}

{% block content %}
    <section class="container" style="background-color: #fff">
        <div class="row mt">
            <div class="col-md-12">
                <h4>Audyt {{ audit.id }} <a class="label-primary label" href="/audyty/{{ audit.id }}.json">pobierz</a>
                </h4>
                <ol>
                    <li>status: {{ audit.processStatus }}</li>
                    <li>ilość stron: {{ audit.auditedSitesCount }}</li>
                    <li>
                        wykonany:
                        {% if audit.finished is not null %}
                            {{ audit.finished | localDateTime }}
                        {% endif %}
                    </li>
                    <li>czas trwania: {{ audit.durationAsString }}</li>
                </ol>
                <h2>Lista raportów dla audytowanych stron</h2>
                <div stlye="width:100%; overflow:auto; display:block">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Kod</th>
                            <th>URL</th>
                            <th>Wynik</th>
                            {% for item in metrics %}
                                <th><a href="/metryki/{{ item.name }}">{{ item.name }}</a></th>
                            {% endfor %}
                            <th>HTTP Status Code</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in websiteAudits %}
                            <tr>
                                <td>{{ item.website.id }}</td>
                                <td>{{ item.website.areaCode }}</td>
                                <td><a href="{{ item.website.url }}" target="_blank">{{ item.website.url }}</a></td>
                                <td>{{ item.auditReport.score | number_format(2, ',', ' ') }}</td>
                                {% for m in item.auditReport.metrics %}
                                    <td>{{ m.valueAsString }} </td>
                                {% endfor %}
                                <td>[{{ item.auditReport.httpStatusCode }}]</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </section>
{% endblock %}