{% extends "layout/base.twig" %}

{% block content %}
<section class="container-fluid" style="background-color: #fff">
    <div class="row mt">
        <div class="col-sm-8 col-sm-offset-2">
            <h4>Audyt {{ audit.id }} </h4>
            <ol>
                <li>status: {{audit.processStatus}}</li>
                <li>ilość stron: {{audit.auditedSitesCount}}</li>
                <li>wykonany: {{audit.finished}}</li>
                <li>czas trwania: {{audit.durationAsString}}</li>
            </ol>
            <h2>Lista raportów dla audytowanych stron</h2>
            <table>
                <tr>
                    <th>#</th>
                    <th>URL</th>
                    <th>Wynik</th>
                    <th>Metryki</th>
                    <th>HTTP Status Code</th>
                </tr>

                {% for item in websiteAudits %}
                <tr>
                    <td> [{{ loop.index }}]</td>
                    <td><a href="{{ item.website.url }}">{{ item.website.url }}</a></td>
                    <td> {{ item.auditReport.score }}</td>
                    <td>
                        {% for m in item.auditReport.metrics %}
                        <a href="/metryki/{{ m.metricName }}">{{ m.metricName }}</a>: {{m.valueAsString}} &nbsp;
                        {% endfor %}
                    </td>
                    <td> [{{ item.auditReport.httpStatusCode }}]</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}