{% extends "layout/base.twig" %}

{% block content %}
<section class="container-fluid" style="background-color: #fff">
    <div class="row mt">
        <div class="col-sm-8 col-sm-offset-2">

            <form action="/audyty" method="post">
                <input type="submit" value="Wystartuj audyt"/>
            </form>
            <form action="/audyty" method="get">
                <input type="submit" value="Reload"/>
            </form>

            <h1>Lista wykonanych audytow stron </h1>
            <table>
                <tr>
                    <th>#</th>
                    <th>status</th>
                    <th>ilość stron</th>
                    <th>wykonany</th>
                    <th>czas trwania</th>
                </tr>
                {% for item in audits %}
                <td><a href="/audyty/{{ item.id }}"><code>[{{ item.id }}]</code></a></td>
                <td>{{ item.processStatus }}</td>
                <td>{{ item.auditedSitesCount}}</td>
                <td>{{ item.finished}}</td>
                <td>{{ item.durationAsString}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>
{% endblock %}