{% extends "layout/base.twig" %}

{% block content %}
    <section class="container-fluid">
        <div class="row mt">
            <div class="col-sm-8 col-sm-offset-2">
                <h1>Kontakt</h1>

                <form role="form" action="/kontakt" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Imię i Nazwisko" value="{{ name }}"
                               required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ email }}"
                               required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="mobile" name="mobile" value="{{ mobile }}"
                               placeholder="Numer telefonu">
                    </div>
                    <div class="form-group">
                        <input type="url" class="form-control" id="site" name="site" value="{{ site }}"
                               placeholder="Adres strony">
                    </div>
                    <div class="form-group">
                            <textarea class="form-control" type="textarea" id="message" placeholder="Wiadomość"
                                      maxlength="140" rows="7">
                                {{ message }}
                            </textarea>
                    </div>

                    <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Wyślij</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}