{% extends "layout/base.twig" %}

{% block title %}Pobierz{% endblock %}

{% block content %}
<section class="container-fluid text-center section page-header">  
	<h2>Do pobrania</h2>
	<h3>Bezpłatne responsywne szablony stron WWW</h3>
</section>		
		
<div class="container-fluid bg-gray section info">	
	<article class="container">
		<p>
			W ramach naszego projektu opracowaliśmy i udostępniamy bezpłatnie templatki - szablony do popularnych systemów CMS.
			Jeśli jesteś użytkownikiem CMS
			<a href="http://www.joomla.pl/" target="_blank">Joomla</a>,
			<a href="https://www.drupal.org/" target="_blank">Drupal</a>
			lub
			<a href="https://pl.wordpress.org/" target="_blank">Wordpress</a>
			wybierz z galerii szablonów swoją ulubioną templatkę, pobierz i zainstaluj.
			Jeśli potrzebujesz pomocy - skontaktuj się z nami przez <a href="/kontakt">formularz kontaktowy</a>.
		</p>
		<p>
		Wszystkie szablony zostały wykonane w wersji responsywnej RWD.
		</p>
    </article>
			
	<div class="container templates">
		{% for item in templates %}
			{% if item.startRow %}
			<div class="row">
			{% endif %}
			<div class="box-download col-md-4 text-left">
				<div>
					<div>
						<a href="/img/szablony/{{ item.imageName }}-prev.jpg" data-lightbox="templates" data-title="{{ item.namePl }}">
							<img src="/img/szablony/{{ item.imageName }}.jpg" class="img-responsive" alt="{{ item.namePl }}">
						</a>
					</div>
					<h5>{{ item.namePl }}</h5>
					<p>{{ item.description }}</p>
					<p>
					pobierz wersję dla:
					</p>
					<div class="visible-regular clearfix">
						<a href="/pobierz/{{ item.name }}/WordPress" class="col-md-4">
							<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
						</a>
						<a href="/pobierz/{{ item.name }}/Drupal" class="col-md-4">
							<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
						</a>
						<a href="/pobierz/{{ item.name }}/Joomla" class="col-md-4">
							<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
						</a>
					</div>
					<div class="visible-contrast">
						<ul>
							<li><a href="/pobierz/{{ item.name }}/WordPress">Wordpress</a></li>
							<li><a href="/pobierz/{{ item.name }}/Drupal">Drupal</a></li>
							<li><a href="/pobierz/{{ item.name }}/Joomla">Joomla</a></li>
						</ul>
					</div>
				</div>
			</div>
			{% if item.endRow %}
			</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}