{% extends "layout/base.twig" %}

{% block title %}Pobierz{% endblock %}

{% block content %}
<section class="container-fluid text-center section page-header">  
	<h2>Do pobrania</h2>
	<h3>
	    Bezpłatne szablony stron WWW<BR/>
	    będą dostępne 15 grudnia 2015
	</h3>
</section>		
		
<div class="container-fluid bg-gray section info">	
	<article class="container">
		<p>
			W ramach naszego projektu opracowaliśmy i udostępniamy bezpłatnie szablony dla popularnych systemów CMS.
			Jeśli jesteś użytkownikiem 
			<a href="https://pl.wordpress.org/" target="_blank">Wordpress,</a>
			<a href="http://www.joomla.pl/" target="_blank">Joomla</a>
			lub
			<a href="https://www.drupal.org/" target="_blank">Drupal</a>
			wybierz z poniższej galerii szablon, który najbardziej Ci się podoba, pobierz go i zainstaluj. W naszej galerii znajdziesz:
			<ul>
				<li>szablony Biuletynu Informacji Publicznej</li>
				<li>szablony strony WWW z elementami BIP, przygotowe do wykorzystanie przez Jednostki Samorządu Terytorialnego</li>
				<li>szablony strony WWW do wykorzystania przez organizacje nonprofit - fundacje i stowarzyszenia.</li>
			</ul>
			Wszystkie szablony zostały wykonane w wersji responsywnej RWD.
		</p>
		<p>
		Pamiętaj, że projekt jest cały czas na etapie rozwoju. Dołożyliśmy wielu starań by nasze szablony były jak najlepsze, mimo to prosimy o wyrozumiałość jeśli dostrzeżesz jeszcze jakieś błędy. Będziemy wdzięczni za każdą opinię z Twojej strony. Jeśli masz uwagi lub potrzebujesz pomocy - skontaktuj się z nami przez <a href="/kontakt">formularz kontaktowy.
		</p>
		<p>
		
		</p>
    </article>
			
	<div class="container templates">
		{% for item in templates %}
			{% if item.startRow %}
			<div class="row">
			{% endif %}
			<div class="box-download col-md-4 text-left">
				<div>
					<div>
						<a href="/img/szablony/{{ item.imageName }}-prev.jpg" data-lightbox="templates" data-title="{{ item.namePl }}">
							<img src="/img/szablony/{{ item.imageName }}.jpg" class="img-responsive" alt="{{ item.namePl }}">
						</a>
					</div>
					<h5>{{ item.namePl }}</h5>
					<p>{{ item.description }}</p>
					<p>
					Wybierz swój CMS:
					</p>
					<div class="clearfix">
						<a role="button" href="/pobierz/{{ item.name }}/WORDPRESS" class="col-md-4">
							<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
						</a>
						<a role="button" href="/pobierz/{{ item.name }}/DRUPAL" class="col-md-4">
							<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
						</a>
						<a role="button" href="/pobierz/{{ item.name }}/JOOMLA" class="col-md-4">
							<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
						</a>
					</div>
				</div>
			</div>
			{% if item.endRow %}
			</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}