{% extends 'layout/base.twig' %}

{% block title %}Strona główna{% endblock %}

{% block content %}
    <section id="headerwrap">
		 <div class="tv">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1>Walidator Dostępności</h1>
						<p>
							Dostępność to proces a nie stan, dlatego naszym celem jest nieustanne monitorowanie serwisów

							internetowych i generowanie raportów dostępności.
						</p>
						<a href="/top-100" class="btn cta cta-1">Zobacz ranking top 100</a>
						<a href="/o-projekcie" class="btn cta cta-2">O projekcie</a>
					</div>
				</div>
			</div>
		</div>
    </section>

    <section class="container-fluid section text-center">
		<h2>Twoja strona pod naszym nadzorem</h2>
		<h3>Zobacz jak wygląda nasz proces analizy</h3>
        <div class="container text-center">
            <div class="col-lg-4 column">
                <img src="/img/odwiedziny-ico.png" class="img-responsive" alt="Odwiedziny Twojej strony">
                <h4>Odwiedziny Twojej strony</h4>
                <p>
                    Jeśli Twoja strona jest w naszej bazie Serwisów, wówczas jest systematycznie audytowana przez nasz
                    system badania dostępności.
                    Pierwsza wersja silnika PWD Online korzysta z danych opublikowanych w
                    serwisie <a href="https://danepubliczne.gov.pl" target="_blank">danepubliczne.gov.pl</a>
                    i audytuje serwisy administracji publicznej dostępne na tej stronie.
                    Jeśli Twojego serwisu nie ma z zakładce serwisy, możesz go zgłosić przez
                    <a href="/kontakt">formularz kontaktowy</a>.
                </p>
            </div>

            <div class="col-lg-4 column">
                <img src="/img/analiza-ico.png" class="img-responsive" alt="Analiza danych">
                <h4>Analiza danych</h4>
                <p>
                    System PWD Online cyklicznie, co 7 dni, analizuje i sprawdza serwisy internetowe
                    dostępne w naszej bazie danych.
                    Każdy z serwisów badany jest przez specjalny proces wykorzystujący metryki PWD.
                    Na podstawie tego badania przydzielane są punkty
                    Następnie wyliczany jest wskaźnik dostępności.
                    Wskaźnik ten jest publikowany i brany pod uwagę w tworzeniu Rankingu PWD.
                </p>
            </div>

            <div class="col-lg-4 column">
                <img src="/img/raport-ico.png" class="img-responsive" alt="Raport">
                <h4>Raport</h4>
                <p>
                    Wynikiem analizy poprzez system metryk jest raport dostępności PWD Online.
                    Raport ten jest publikowany na naszej stronie przy każdym serwisie.
                    Dostęp do raportu posiada każdy użytkownik internetu.
                    Raport jest przesyłany redaktorowi strony internetowej w celu wskazania elementów,
                    które należy poprawić aby serwis uzyskał lepszy wynik walidacji
                    co przyczyni się do podwyższenia pozycji strony w naszym rankingu.
                </p>
            </div>
        </div>
    </section>

    <section class="container-fluid text-center section bg-gray">
		<h2>Do pobrania</h2>
		<h3>Bezpłatne szablony stron www z certyfikatem PWD</h3>

		<div class="container">

			<div class="box-download col-md-4 text-left">
				<div>
					<figure>
						<a href="/img/szablony/szablon-pwd-t1-1-prev.jpg" data-lightbox="image-1" data-title="Szablon PWD T1.1">
							<img src="/img/szablony/szablon-pwd-t1-1.jpg" class="img-responsive" alt="Szablon PWD T1.1">
						</a>
					</figure>
					<h5>
						Szablon PWD T1.1
					</h5>
					<p>
					pobierz wersję dla:
					</p>
					<div class="visible-regular clearfix">
						<a href="" class="col-md-4">
							<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
						</a>
						<a href="" class="col-md-4">
							<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
						</a>
						<a href="" class="col-md-4">
							<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
						</a>
					</div>
					<div class="visible-contrast">
						<ul>
							<li>
								<a href="">Wordpress</a>
							</li>
							<li>
								<a href="">Drupal</a>
							</li>
							<li>
								<a href="">Joomla</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="box-download col-md-4 text-left">
				<div>
					<figure>
						<a href="/img/szablony/szablon-pwd-t3-1-prev.jpg" data-lightbox="image-1" data-title="Szablon PWD T3.1">
							<img src="/img/szablony/szablon-pwd-t3-1.jpg" class="img-responsive" alt="Szablon PWD T3.1">
						</a>
					</figure>
					<h5>
						Szablon PWD T3.1
					</h5>
					<p>
					pobierz wersję dla:
					</p>
					<div class="visible-regular clearfix">
						<a href="" class="col-md-4">
							<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
						</a>
						<a href="" class="col-md-4">
							<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
						</a>
						<a href="" class="col-md-4">
							<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
						</a>
					</div>
					<div class="visible-contrast">
						<ul>
							<li>
								<a href="">Wordpress</a>
							</li>
							<li>
								<a href="">Drupal</a>
							</li>
							<li>
								<a href="">Joomla</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="box-download col-md-4 text-left">
				<div>
					<figure>
						<a href="/img/szablony/szablon-pwd-t6-1-prev.jpg" data-lightbox="image-1" data-title="Szablon PWD T6.1">
							<img src="/img/szablony/szablon-pwd-t6-1.jpg" class="img-responsive" alt="Szablon PWD T6.1">
						</a>
					</figure>
					<h5>
						Szablon PWD T6.1
					</h5>
					<p>
					pobierz wersję dla:
					</p>
					<div class="visible-regular clearfix">
						<a href="" class="col-md-4">
							<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
						</a>
						<a href="" class="col-md-4">
							<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
						</a>
						<a href="" class="col-md-4">
							<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
						</a>
					</div>
					<div class="visible-contrast">
						<ul>
							<li>
								<a href="">Wordpress</a>
							</li>
							<li>
								<a href="">Drupal</a>
							</li>
							<li>
								<a href="">Joomla</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<a href="/pobierz" class="btn cta cta-1">Więcej szablonów</a>
    </section>

	<section class="section container text-center">
		<h2>Globalny wskaźnik dostępności</h2>
		<h3>PWD Rank</h3>
		<h5 class="rank-value" id="globalScore">
			<img src="/img/loading.gif" alt="loading" />
		</h5>
	</section>

    <section class="container-fluid text-center section bg-gray" >
        <div class="container text-center ">
			<h2>Ranking top 100</h2>
			<h3>Najbardziej dostępne strony użyteczności publicznej</h3>

			<div class="table-responsive text-left">
				<table class="table table-striped table-hover ranking">
                    <thead>
                    <tr>
						<th class="text-center"><img class="rank-ico" src="/img/rank.png" alt="Pozycja w rankingu"></th>
						<th>pkt.</th>
						<th>nazwa</th>
						<th>url</th>
						<th>Raporty</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in rankingTop %}
                        <tr>
							<td class="text-center">{{ loop.index }}.</td>
                            <td>{{ item.auditReport.score|number_format(2, ',', ' ') }}</td>
                            <td>{{ item.website.administrativeUnit }}</td>
                            <td><a href="{{ item.website.url }}" target="_blank">{{ item.website.url }}</a></td>
							<td>
								<a href="/serwisy/{{ item.website.id }}">
									<i class="fa fa-file-text"></i>
								</a>
							</td>
                        </tr>
                    {% endfor %}
                    </tbody>
				</table>
			</div>

			<a href="/top-100" class="btn cta cta-1">
				zobacz pełny ranking
			</a>
        </div>
    </section>

	<section class="container-fluid text-center section" >
        <div class="container text-center ">
			<h2>największy awans w rankingu</h2>
			<h3>serwisy, które w ostatnim tygodniu poczyniły największy postęp</h3>

			<div class="table-responsive text-left">
				<table class="table table-striped table-hover ranking">
                    <thead>
					<tr>
						<th class="text-center"><img class="rank-ico" src="/img/rank.png" alt="Pozycja w rankingu"></th>
						<th>pkt.</th>
						<th>nazwa</th>
						<th>url</th>
						<th>Raporty</th>
					</tr>
                    </thead>
                    <tbody>
                    {% for item in rankingTopChange %}
                        <tr>
							<td class="text-center">{{ loop.index }}.</td>
                            <td>{{ item.auditReport.score|number_format(2, ',', ' ') }}</td>
                            <td>{{ item.website.administrativeUnit }}</td>
                            <td><a href="{{ item.website.url }}" target="_blank">{{ item.website.url }}</a></td>
							<td>
								<a href="/serwisy/{{ item.website.id }}">
									<i class="fa fa-file-text"></i>
								</a>
							</td>
                        </tr>
                    {% endfor %}
                    </tbody>
				</table>
			</div>
        </div>
    </section>

{% endblock %}

{% block inlineJs %}
    $("#globalScore").load("/ajax/average");
{% endblock %}
