{% extends 'layout/base.twig' %}

{% block title %}Strona główna{% endblock %}

{% block content %}
    <section id="headerwrap">
		 <div class="tv">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1>Walidator Dostępności</h1>
						<p>
							Dostępność to proces a nie stan, dlatego naszym celem jest nieustanne monitorowanie serwisów

							internetowych i doprowadzanie do wzrostu ich dostępności.
						</p>
						<a role="button" href="/top-100" class="btn cta cta-1">Zobacz ranking top 100</a>
						<a role="button" href="/o-projekcie" class="btn cta cta-2">O projekcie</a>
					</div>
				</div>
			</div>
		</div>
    </section>

    <section class="container-fluid section text-center">
		<h2>Grupa stron pod naszym nadzorem</h2>
		<h3>Zobacz jak wygląda proces analizy</h3>
        <div class="container text-center">
            <div class="col-lg-4 column">
                <img src="/img/odwiedziny-ico.png" class="img-responsive" alt="Budowanie bazy stron">
                <h4>Baza stron do silnika PWD</h4>
                <p>
                    Obecna wersja Silnika PWD audytuje strony Jednostek Samorządu Terytorialnego
					pobrane z serwisu <a href="https://danepubliczne.gov.pl" target="_blank">danepubliczne.gov.pl</a>
					Jeśli jesteś administratorem/właścicielem serwisu JST i Waszej strony nie znajdziesz w zakładce serwisy, 
					możesz ją zgłosić przez <a href="/kontakt">formularz kontaktowy</a>.
                </p>
            </div>

            <div class="col-lg-4 column">
                <img src="/img/analiza-ico.png" class="img-responsive" alt="Analiza danych">
                <h4>Analiza danych</h4>
                <p>
                    System PWD Online cyklicznie (codziennie) analizuje i sprawdza serwisy internetowe
                    dostępne w naszej bazie danych.
                    Każdy z serwisów badany jest przez specjalny proces(walidator) wykorzystujący metryki PWD.
                    Każda metryka (wytyczna WCAG 2.0) posiada przydzieloną wagę(współczynnik ważności) na tej podstawie wyliczany jest wskaźnik PWD,
                    który jest publikowany i brany pod uwagę w tworzeniu Rankingu PWD.
					Wskaźnik ten nie jest wytyczną pełnej dostępności strony, ale jest skalą spełnienia metryk PWD.
                </p>
            </div>

            <div class="col-lg-4 column">
                <img src="/img/raport-ico.png" class="img-responsive" alt="Raport">
                <h4>Raport</h4>
                <p>
                    Na podstawie analizy poprzez system metryk tworzony jest raport dostępności strony.
                    Raport ten jest publikowany przy każdym serwisie i dostęp do niego posiada każdy użytkownik internetu.
                    Raport zawiera wykaz metryk(wytycznych), które są spełnione w danym serwisie a także te które wymagają poprawy.
                    Admistratorzy dostają wskazówki jak poprawić serwis aby uzyskał lepszy wynik walidacji
                    co przyczyni się do zwiększenia dostępności strony a także podwyższenia pozycji w naszym rankingu.
                </p>
            </div>
        </div>
    </section>

    <section class="container-fluid text-center section bg-gray">
		<h2>Do pobrania</h2>
		<h3>Bezpłatne szablony stron www</h3>

		<div class="container">

			<div class="box-download col-md-4 text-left">
				<div>
					<div>
						<a href="/img/szablony/{{ template1.imageName }}-prev.jpg" data-lightbox="templates" data-title="{{ template1.namePl }}">
							<img src="/img/szablony/{{ template1.imageName }}.jpg" class="img-responsive" alt="{{ template1.namePl }}">
						</a>
					</div>
					<h5>{{ template1.namePl }}</h5>
					<p>{{ template1.description }}</p>
					<p>pobierz wersję dla:</p>
					<div class="clearfix">
						<a role="button" href="/pobierz/{{ template1.name }}/WORDPRESS" class="col-md-4">
							<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
						</a>
						<a role="button" href="/pobierz/{{ template1.name }}/DRUPAL" class="col-md-4">
							<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
						</a>
						<a role="button" href="/pobierz/{{ template1.name }}/JOOMLA" class="col-md-4">
							<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
						</a>
					</div>
				</div>
			</div>
			<div class="box-download col-md-4 text-left">
				<div>
					<div>
						<a href="/img/szablony/{{ template2.imageName }}-prev.jpg" data-lightbox="templates" data-title="{{ template2.namePl }}">
							<img src="/img/szablony/{{ template2.imageName }}.jpg" class="img-responsive" alt="{{ template2.namePl }}">
						</a>
					</div>
					<h5>{{ template2.namePl }}</h5>
					<p>{{ template2.description }}</p>
					<p>pobierz wersję dla:</p>
					<div class="clearfix">
						<a role="button" href="/pobierz/{{ template2.name }}/WORDPRESS" class="col-md-4">
							<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
						</a>
						<a role="button" href="/pobierz/{{ template2.name }}/DRUPAL" class="col-md-4">
							<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
						</a>
						<a role="button" href="/pobierz/{{ template2.name }}/JOOMLA" class="col-md-4">
							<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
						</a>
					</div>
				</div>
			</div>
			<div class="box-download col-md-4 text-left">
				<div>
					<div>
						<a href="/img/szablony/{{ template3.imageName }}-prev.jpg" data-lightbox="templates" data-title="{{ template3.namePl }}">
							<img src="/img/szablony/{{ template3.imageName }}.jpg" class="img-responsive" alt="{{ template3.namePl }}">
						</a>
					</div>
					<h5>{{ template3.namePl }}</h5>
					<p>{{ template3.description }}</p>
					<p>pobierz wersję dla:</p>
					<div class="clearfix">
						<a role="button" href="/pobierz/{{ template3.name }}/WORDPRESS" class="col-md-4">
							<img src="/img/wordpress.png" class="img-responsive" alt="pobierz szablon dla wordpress">
						</a>
						<a role="button" href="/pobierz/{{ template3.name }}/DRUPAL" class="col-md-4">
							<img src="/img/drupal.png" class="img-responsive" alt="pobierz szablon dla drupal">
						</a>
						<a role="button" href="/pobierz/{{ template3.name }}/JOOMLA" class="col-md-4">
							<img src="/img/joomla.png" class="img-responsive" alt="pobierz szablon dla joomla">
						</a>
					</div>
				</div>
			</div>
		</div>
		<a role="button" href="/pobierz" class="btn cta cta-1">Więcej szablonów</a>
    </section>

	<section class="section container text-center">
		<h2>Globalny wskaźnik dostępności PWD</h2>
		<h3>oparty o metryki i wskaźniki PWD Online</h3>
		<div class="rank-value" id="globalScore">
			<img src="/img/loading.gif" alt="loading" />
		</div>
	</section>

    <section class="container-fluid text-center section bg-gray" >
        <div class="container text-center ">
			<h2>Ranking top 100</h2>
			<h3>Najlepiej ocenione strony użyteczności publicznej</h3>
			<div class="table-responsive text-left">
			    <p>Uwaga: miejsce w rankingu określa stopień spełnienia analizowanych metryk i może nie odzwierciedlać faktycznej dostępności serwisów</p>
					<table class="table table-striped table-hover ranking">
                    <thead>
                    <tr>
						<th class="text-center"><img class="rank-ico" src="/img/rank.png" alt="Pozycja w rankingu"></th>
						<th>pkt.</th>
						<th>nazwa</th>
						<th>url</th>
						<th>Raport</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in rankingTop %}
                        <tr>
							<td class="text-center">{{ loop.index }}.</td>
                            <td>{{ item.auditReport.score|number_format(2, ',', ' ') }}</td>
                            <td>{{ item.website.administrativeUnit }}</td>
                            <td><a href="{{ item.website.url }}" target="_blank">{{ item.website.url }}</a></td>
                            <td><a href="/serwisy/{{ item.website.id }}" title="Raport" data-toggle="tooltip"><div title="Raport" class="fa fa-file-text"></div></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
				</table>
			</div>

			<a role="button" href="/top-100" class="btn cta cta-1">
				zobacz pełny ranking
			</a>
        </div>
    </section>

	<section class="container-fluid text-center section" >
        <div class="container text-center ">
			<h2>największy awans w rankingu</h2>
			<h3>serwisy, które w ostatnim tygodniu poczyniły największy postęp</h3>

			<div class="table-responsive text-left">
				<table class="table table-striped table-hover ranking">
                    <thead>
					<tr>
						<th class="text-center"><img class="rank-ico" src="/img/rank.png" alt="Pozycja w rankingu"></th>
						<th>pkt.</th>
						<th>nazwa</th>
						<th>url</th>
						<th>Raport</th>
					</tr>
                    </thead>
                    <tbody>
                    {% for item in rankingTopChange %}
                        <tr>
							<td class="text-center">{{ loop.index }}.</td>
                            <td>
                                {{ item.auditReport.score|number_format(2, ',', ' ') }} ({{ item.auditPrevScore|number_format(2, ',', ' ') }})
                            </td>
                            <td>{{ item.website.administrativeUnit }}</td>
                            <td><a href="{{ item.website.url }}" target="_blank">{{ item.website.url }}</a></td>
                            <td><a href="/serwisy/{{ item.website.id }}" title="Raport" data-toggle="tooltip"><div title="Raport" class="fa fa-file-text"></div></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
				</table>
			</div>
        </div>
    </section>

{% endblock %}

{% block inlineJs %}
    $.getJSON("/api/gwd", function(data) {
        var score = parseFloat(Math.round(data.score * 100) / 100).toFixed(2).toString().replace(".",",");
        $("#globalScore").html(score);
    });
{% endblock %}
