{% extends "layout/base.twig" %}

{% block title %}Metryki{% endblock %}

{% block content %}
	<section class="container-fluid text-center section page-header">
		<h2>Metryki</h2>
		<h3>Lista naszych metryk</h3>		   
	</section>    
	<div class="container-fluid bg-gray section ">
		<div class="container">			
			<div class="table-responsive">
				<table class="table table-striped table-hover ranking">
					<thead>
					<tr>
						<th>Lp.</th>
						<th>Nazwa</th>
						<th>Kod</th>
						<th>Wytyczna</th>
						<th>Waga</th>
					</tr>
					</thead>
					<tbody>
					{% for item in metrics %}
					    {% if item.weight > 0 %}
						<tr>
							<td>{{ loop.index }}.</td>
							<td><a href="/metryki/{{ item.name }}">{{ item.namePl }}</a></td>
							<td>{{ item.name }}</td>
							<td><a href="{{ item.guidelineHref }}" target="_blank">{{ item.guidelineName }}</a></td>
							<td>{{ item.getWeightString }}</td>
						</tr>
						{% endif %}
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="container">
		    <p>
		        Algorytm wyliczenia wskaźnika:<BR/>
		        Wskaźnik = (Wynik_1*Waga_1 + Wynik_2*Waga_2 + ... ) / (Waga_1 + Waga_2 + ...) <BR/>
		        Gdzie:<BR/>
		        Wynik_n - Wartość osiągnięta przez metrykę n <BR/>
		        Waga_n - Waga metryki n (A - 1, AA - 2, AAA - 3)
		    </p>
		</div>
	</div>
{% endblock %}