{% extends "layout/base.twig" %}

{% block title %}TOP 100{% endblock %}

{% block content %}
    <section class="container-fluid text-center section page-header">
        <h2>Ranking TOP 100</h2>
        <h3>100 najbardziej dostępnych serwisów</h3>
    </section>

	<div class="container-fluid bg-gray section ">
        <div class="col-sm-8 col-sm-offset-2">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Punktacja</th>
                    <th>Nazwa</th>
                    <th>Serwis</th>
                    <th>Raporty</th>
                </tr>
                </thead>
                <tbody>
                {% for item in ranking %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ item.auditReport.score }}</td>
                        <td>{{ item.website.administrativeUnit }}</td>
                        <td><a href="{{ item.website.url }}" target="_blank">{{ item.website.url }}</a></td>
                        <td><a href="/serwisy/{{ item.website.id }}">Zobacz</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}