{% extends "layout/base.twig" %}

{% block title %}Szczególy analizy{% endblock %}

{% block content %}
    <section class="container-fluid text-center section page-header">
		<h2>Wyniki analizy</h2>
		<h3><a target="_blank" href="{{ websiteAudit.website.url }}">{{ websiteAudit.website.url }}</a></h3>
	</section>    
	<div class="container-fluid bg-gray section text-center">
		<h4 class="rank-header">Wskaźnik dostępności serwisu</h4>
		<h5 class="rank-value">	
			{{ websiteAudit.auditReport.score|number_format(2, ',', ' ') }}
		</h5>
		<div class="table-responsive container">
			<table class="table table-striped ranking">
				<tr>
					<th>
						Lp.
					</th>
					<th>
						Nazwa
					</th>
					<th>
						Kod
					</th>
					<th>
						Wytyczna
					</th>
					<th>
						Waga
					</th>
					<th>
						Wynik
					</th>
				</tr>
				{% for item in metrics %}
				<tr>
					<td class="text-left">
						{{ loop.index }}.
					</td>
				
					<td class="text-left">
						<a href="/metryki/{{ item.name }}">{{ item.namePl }} </a>
					</td>
					<td class="text-left">
						{{ item.name }}
					</td>
					<td class="text-left">
						<a href="{{ item.guidelineHref }}" target="_blank">{{ item.guidelineName }}</a>
					</td>
					<td class="text-left">
						{{ item.weight }}
					</td>
					<td class="text-left">
						{{ websiteAudit.auditReport.getMetric(item.name).valueAsString }}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}