{% extends "layout/base.twig" %}

{% block title %}Serwisy{% endblock %}

{% block content %}
<section class="container-fluid text-center section page-header">
	<h2>Lista serwisów</h2>
	<h3>Ranking dostępności serwisów użyteczności publicznej w Polsce</h3>         
</section>   
 
<div class="container-fluid bg-gray section">
	<div class="table-section">
		<form action="/serwisy" method="get" class="websites clearfix row">
			<div class="col-sm-6 col-sm-offset-2">
				<input name="query" value="{{ query }}" type="text" class="form-control" placeholder="Wprowadź nazwę miasta, powiatu lub województwa">
				<p>Dostępne dodatkowe opcje wyszukiwania | lub &amp;: np. "mazowieckie|świętokrzyskie", "łódzkie&amp;powiat"</p>
			</div>
			<div class="col-sm-2">
				<input type="submit" value="Szukaj" class="cta cta-1 cta-search">
			</div>
		</form>

		<div class="table-responsive">
			<table class="table table-striped table-hover ranking sortable">
				<thead>
				{% if websitesAudits %}
				<tr>
					<th class="text-center sortable"><img class="rank-ico" src="/img/rank.png" alt="Pozycja w rankingu"><i class="fa fa-sort"></i></th>
					<th class="sortable">Nazwa<i class="fa fa-sort"></i></th>
					<th class="sortable">Miejscowość<i class="fa fa-sort"></i></th>
					<th class="sortable">Województwo<i class="fa fa-sort"></i></th>
					<th class="sortable">Powiat<i class="fa fa-sort"></i></th>
					<th class="sortable">Pkt.<i class="fa fa-sort"></i></th>
					<th>Url</th>
					<th>Rap.</th>
					<th>CMS</th>
				</tr>
				{% endif %}
				</thead>
				<tbody>
				{% for item in websitesAudits %}
					<tr>
						<td class="text-center">{{ currentPlaces.indexOf(item)+1 }}.</td>
						<td>{{ item.website.administrativeUnit }}</td>
						<td>{{ item.website.address.city }}</td>
						<td>{{ item.website.address.voivodeship }}</td>
						<td>{{ item.website.address.county }}</td>
						<td>{{ item.auditReport.score|number_format(2, ',', ' ') }}</td>
						<td>
							<a href="{{ item.website.url }}" target="_blank" title="{{ item.website.url }}" data-toggle="tooltip">
								<i class="fa fa-link"></i>
							</a>
						</td>
						<td><a href="/serwisy/{{ item.website.id }}" title="Raporty" data-toggle="tooltip"><i class="fa fa-file-text"></i></a></td>
						<td>
							{% if item.cmsUsed|length > 0 %}
							<a href="" title="{{ item.cmsUsed }}" data-toggle="tooltip">
								<i class="fa fa-info-circle"></i>
							</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>         
		</div>
		{% if not websitesAudits and query is not null %}
			<div class="alert col-sm-6 col-sm-offset-2">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<p>Brak wyników wyszukiwania dla wprowadzonego zapytania.</p>
			</div>
		 {% endif %} 
	</div>
</div>
<script src="/js/sorttable.js"></script>
{% endblock %}