{% extends "layout/base.twig" %}

{% block title %}Szczególy analizy{% endblock %}

{% block content %}
    <section class="container-fluid text-center section page-header">
		<h2>Wyniki analizy</h2>
		<h3><a href="{{ website.url }}">{{ websiteAudit.website.url }}</a></h3>		   
	</section>    
	<div class="container-fluid bg-gray section text-center">
		<h4 class="rank-header">Współczynnik dostępności serwisu</h4>
		<h5 class="rank-value">	
			{{ websiteAudit.auditReport.score }}
		</h5>
		<div class="table-responsive container">
			<table class="table table-striped ranking">
				<tr>
					<th>
						Metryka
					</th>
					<th>
						Wynik
					</th>
				</tr>
				{% for item in metrics %}
				<tr>
					<td class="text-left">
						<a href="/metryki/{{ item.name }}">{{ item.namePl }} <i class="fa fa-info-circle"></i></a>
						
					</td>
					<td class="text-left">
						{{ websiteAudit.auditReport.getMetric(item.name).valueAsString }}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}